{{template "base" .}}


{{define "content"}}
<div class="container">
    <div class="row">
      <div class="col">
      <img src="/static/images/frostsuite.jpg" class="img-fluid img-thumbnail d-block mx-auto room-image" alt="room"> >
    </div>
  </div>
  </div>
  
  <div class="container">
    <div class="row">
      <div class="col">
        <h1 class="text-center mt-5">Frost Suite B&G</h1>
        <p>
          Endless snow and darkness, makes a vacation to remember.
        <br>
          Endless snow and darkness, makes a vacation to remember.
          Endless snow and darkness, makes a vacation to remember.
          Endless snow and darkness, makes a vacation to remember.
        <br>
          Endless snow and darkness, makes a vacation to remember.
          Endless snow and darkness, makes a vacation to remember.
        </p>
     </div>
    </div>
  
    <div class="row"> 
      <div class="col text-center">
          <a href="/booking" class="btn btn-success" >Reserve Frost Suite</a>
      </div>
    </div>
  </div>
  


{{end}}