{{template "base" .}}
{{define "content"}}

<div class="container" >
  <div class="row">
    <div class="col">
      <img src="/static/images/cabin.jpg" class="img-fluid img-thumbnail mx-auto d-block room-image" alt="cabin">  
    </div>
  </div>
</div>

<div class="container">
    <div class="row">
      <div class="col">
        <h1 class="text-center mt-5">Northern Lights Cabin</h1>
        <p>
          Northern Lights Cabin
          - 2 bedrooms
          - 2 water closets
        <br>
          
        </p>
     </div>
    </div>
  
    <div class="row"> 
      <div class="col text-center">
          <a href="booking.html" class="btn btn-success" >Reserve Northern Lights Cabin</a>
      </div>
    </div>
  </div>


{{end}}