{{template "base" .}}
{{define "content"}}
{{$res := index .Data "reservation"}}    

<div class="container">
    <div class="row">
        <div class="column">
            <h1 class="mt-5">Reservatio summary</h1>
            <hr>
            <table class="table table-striped">
                <thead>Table head</thead>
                <tbody>
                    <tr>
                        <td>Name:</td>
                        <td>{{$res.FirstName}} {{$res.LastName}}</td>
                    </tr>
                    <tr>
                        <td>Arrival:</td>
                        <td>data</td>
                    </tr>
                    <tr>
                        <td>Departure:</td>
                        <td>data</td>
                    </tr>
                    <tr>
                        <td>Email:</td>
                        <td>{{$res.Email}}</td>
                    </tr>
                    <tr>
                        <td>Phone:</td>
                        <td>{{$res.Phone}}</td>
                    </tr>
                    

                </tbody>

            </table>

        </div>
    </div>
</div>

{{end}}